ul.masonry * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul.masonry {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}

ul.masonry li {
    width: calc(33.33% - 10px); /* 3 columns by default */
    margin: 5px;
}

ul.masonry img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* Media query for screen widths of 1000px or less */
@media screen and (max-width: 1000px) {
    ul.masonry li {
        width: calc(50% - 10px); /* 2 columns */
    }
}